name: CI

on:
  push:
    branches: ["**"]
    tags-ignore: ["**"]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '**.png'
      - '**.jpg'
      - '**.jpeg'
      - '**.svg'
  pull_request:
    branches: ["**"]
    paths-ignore:
      - '**.md'
      - 'docs/**'
      - '**.png'
      - '**.jpg'
      - '**.jpeg'
      - '**.svg'

jobs:
  setup:
    name: Install & Cache
    runs-on: ubuntu-latest
    outputs:
      node-modules-path: ${{ steps.save-node-modules.outputs.artifact-path }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install pnpm
        uses: pnpm/action-setup@v3
        with:
          version: version: 7.25.1

      - name: Cache pnpm store
        id: cache-pnpm
        uses: actions/cache@v4
        with:
          path: ~/.local/share/pnpm/store
          key: pnpm-store-${{ hashFiles('pnpm-lock.yaml') }}

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Upload node_modules
        id: save-node-modules
        uses: actions/upload-artifact@v4
        with:
          name: node_modules
          path: node_modules

  lint:
    name: Lint
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: node_modules
          path: node_modules
      - name: Run lint
        run: pnpm lint

  typecheck:
    name: Type Checking
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: node_modules
          path: node_modules
      - name: Run typecheck
        run: pnpm typecheck

  test:
    name: Unit Tests
    runs-on: ubuntu-latest
    needs: setup
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: node_modules
          path: node_modules
      - name: Run tests
        run: pnpm test -- --coverage

  build:
    name: Build App
    runs-on: ubuntu-latest
    needs: [lint, typecheck, test]
    steps:
      - uses: actions/checkout@v4
      - uses: actions/download-artifact@v4
        with:
          name: node_modules
          path: node_modules
      - name: Build
        run: pnpm build

      - name: Upload dist
        uses: actions/upload-artifact@v4
        with:
          name: build
          path: dist
